@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Barriecito&family=Comfortaa:wght@300;400;700&family=Poppins:wght@300&family=Qwitcher+Grypen&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Agbalumo', Barriecito, Comfortaa;
}

:root {
  --rtc-primary-color: rgb(2, 2, 58);
  --rtc-secondary-color: rgb(227, 86, 86);
  --rtc-tertiary-color: #FFFFFF;
}


header {
  display: flex;
  padding: 40px;
  align-items: center;
  justify-content: space-between;
}


header > nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  list-style: none;
}

.menu-icon {
  display: none;
}

.menu-icon > img {
  width: 100px;
}

#toggle-menu {
  display: none;
}

a {
  color: var();
  font-weight: 600;
  text-decoration: none;
}

body {
  position: relative;
  padding-bottom: 2em;
}

main {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  padding: 50px;
  width: 100%;
}


main > p {
  width: 40%;
    min-width: 516px;
}

main > img {
  width: 50%;
  max-width: 500px;
  min-width: 300px;
  align-items: center;
}

main > article > h1 {
  font-size: 40px;
}

main > article > h1 > span {
  color: rgb(227, 86, 86)
}

main > article> p {
  font-size: 20px;
  
}

section {
  display: flex;
  align-content: space-around;
}

.orden li {
  list-style: none;
  display: flex;
  flex-direction: column;
  width:20% ;
  align-items: center;
  margin-top: 100px;
  margin-left: auto;
}

li > img {
  width: 50%;
}

.orden {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

footer {
  background-color: var(--rtc-secondary-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}

@media only screen and (max-width: 500px) {
  header > nav > ul.nav-list {
      display: none;
  }
  
  header > nav {
    flex-direction: column-reverse;
  }
  
  .nav-list {
    display: none;
  }

  #toggle-menu {
    visibility: hidden;
  }

  #toggle-menu:checked + nav .nav-list {
    display: block;
  }
  .menu-icon {
    cursor: pointer;
  }

  main {
      display: block;
  }

  main > ul.orden {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  
.orden li {
  width:100% ;
  margin-left: 0;
}

  main > aside > img {
    width: 70%;
    justify-content: center;
  }

  .menu-icon {
    display: block;
  }

  .nav-list {
    display: block;
  }

}